/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    transition: all 0.3s ease-in-out;
}

/* nav */
.navbar {
    display: flex;
    align-items: center;
    background-color: #ec3750;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar img {
    margin-right: 20px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

button, .cta-button {
    background-color: #ec3750;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover, .cta-button:hover {
    background-color: #b92c3a;
}

.episode {
    background: white;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* footer */
footer {
    text-align: center;
    background-color: #ec3750;
    color: white;
    padding: 10px 0;
    margin-top: 30px;
}
